// _base/_reset.scss

@font-face {
  font-family: "Poppins";
  src: url("./../../public/fonts/Poppins-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
figure,
blockquote,
dl,
dd,
fieldset {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* default font size is 10px = 1rem */

  // @media #{$screen-sm} {
  //   font-size: 75%; /* Adjust as needed for small screens */
  // }
  // @media #{$screen-md} {
  //   font-size: 87.5%; /* Adjust as needed for medium screens */
  // }
  // @media #{$screen-lg} {
  //   font-size: 100%; /* Default font size for large screens */
  // }
  // @media #{$screen-xl} {
  //   font-size: 112.5%; /* Adjust as needed for extra-large screens */
  // }
  // @media #{$screen-xxl} {
  //   font-size: 125%; /* Adjust as needed for extra-extra-large screens */
  // }
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4rem;
  color: #fff;
}
p {
  font-size: 1.8rem;
}

/* Add more reset styles as needed */
