// _base/_reset.scss

@font-face {
  font-family: "Inconsolata";
  src: url("./../../public/fonts/Inconsolata-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
figure,
blockquote,
dl,
dd,
fieldset {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inconsolata", sans-serif;
}

h1 {
  font-size: 15px;

  background-color: #3498db;
  color: #fff;
  padding: 10px;

  @media #{$screen-sm} {
    font-size: 20px;
  }
  @media #{$screen-md} {
    font-size: 25px;
  }
  @media #{$screen-lg} {
    font-size: 30px;
  }
  @media #{$screen-xl} {
    font-size: 35px;
  }
  @media #{$screen-xxl} {
    font-size: 40px;
  }
}

/* Add more reset styles as needed */
