// _pages/_home.scss

/* Add or modify styles specific to the home page */

// Cotizar Section CSS
.cotizar_container {
  max-width: 1296px;
  width: 100%;
  background: #ff8b00;
  padding: 30px;
  margin-top: 68px;

  .cotizar_title {
    font-size: 40px;
    font-family: "Poppins";
  }

  form {
    .enivo_area,
    .destino_area,
    .origen_area {
      max-width: 200px;
      width: 100%;

      label {
        font-size: 16px;
      }

      input.form-control {
        padding: 10px 40px;
        font-size: 14px !important;
        outline: none;
      }

      input.form-control:focus {
        border-color: #ff8b00;
        box-shadow: none;
      }

      input::placeholder {
        color: #373736;
        text-align: center;
      }
    }

    .kg_area {
      max-width: 120px;
      width: 100%;

      label {
        font-size: 16px;
      }

      input.form-control {
        padding: 10px 40px;
        font-size: 14px !important;
        outline: none;
      }

      input.form-control:focus {
        border-color: #ff8b00;
        box-shadow: none;
      }

      input::placeholder {
        color: #373736;
        text-align: center;
      }
    }

    label {
      font-size: 16px;
    }

    input.form-control {
      padding: 10px 40px;
      font-size: 14px !important;
      outline: none;
    }

    input.form-control:focus {
      border-color: #ff8b00;
      box-shadow: none;
    }

    input::placeholder {
      color: #373736;
      text-align: center;
    }

    /* or, for legacy browsers */

    ::-webkit-input-placeholder {
      text-align: center;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
    }

    :-ms-input-placeholder {
      text-align: center;
    }

    .cotizar_btn {
      width: 190px;
      height: 50px;
      background: #0060ac;
      font-size: 16px;
      margin-top: 23px;
    }
  }
}
