// _pages/_home.scss

/* Add or modify styles specific to the home page */

// banner slider section start
.banner-slider {
  background: linear-gradient(-90deg, #0060ac 0%, #018cbe 100%);
  h1 {
    font-weight: bold;
    font-size: 54px;
    color: #fff;
    line-height: 64px;
    padding-top: 105px;
    span {
      color: #ff8b00;
      display: block;
    }
  }
  .bottom_content {
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      padding-top: 10px;
      padding-bottom: 25px;
    }
    .banner_button {
      display: flex;
      justify-content: center;
      a {
        width: 260px;
        height: 60px;
        background: #ff8b00;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        display: inline-block;
        line-height: 60px;
        border-radius: 25px;
        text-decoration: none;
      }
    }
  }
  .banner_img {
    padding-bottom: 70px;
    padding-top: 20px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: -10%;
  }
  .carousel-control-next {
    right: -3%;
  }
  .carousel-control-prev {
    left: -4%;
  }
  .carousel-indicators [data-bs-target] {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
  .carousel-indicators button.active {
    background-color: #ff8b00;
    width: 18px !important;
    height: 18px !important;
  }
}
// banner slider section end

// Cotizar Section CSS
.cotizar_container {
  max-width: 1296px;
  width: 100%;
  background: #ff8b00;
  padding: 30px;
  margin-top: 68px;

  .cotizar_title {
    font-size: 40px;
    font-family: "Poppins";
  }

  form {
    .enivo_area,
    .destino_area,
    .origen_area,
    .kg_area,
    .tamano_area {
      label {
        font-size: 16px;

        @media #{$screen-lg} {
          font-size: 13px;
        }

        @media #{$screen-xl} {
          font-size: 16px;
        }
      }

      input.form-control {
        padding: 10px 40px;
        font-size: 14px !important;
        outline: none;
        @media #{$screen-lg} {
          font-size: 12px !important;
        }
        @media #{$screen-xl} {
          font-size: 14px !important;
        }
      }

      .multi-input {
        border-radius: 16px;
        input.form-control[aria-label="tamano"],
        input.form-control[aria-label="largo"],
        input.form-control[aria-label="Ancho"] {
          padding: 10px 0px !important;
          border: 0;
        }
        input.form-control[aria-label="tamano"] {
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
        }

        input.form-control[aria-label="Ancho"] {
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
        }

        .input-divider {
          width: 5px;
          height: 41px;
          background-color: #ff8a00;
        }
      }

      input.form-control:focus {
        border-color: #ff8b00;
        box-shadow: none;
      }

      input::placeholder {
        color: #373736;
        text-align: center;
      }
    }

    label {
      font-size: 16px;
    }

    input.form-control {
      padding: 10px 40px;
      font-size: 14px !important;
      outline: none;
    }

    input.form-control:focus {
      border-color: #ff8b00;
      box-shadow: none;
    }

    input::placeholder {
      color: #373736;
      text-align: center;
    }

    /* or, for legacy browsers */

    ::-webkit-input-placeholder {
      text-align: center;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
    }

    :-ms-input-placeholder {
      text-align: center;
    }

    .cotizar_btn {
      width: 100%;
      padding: 10px 40px;
      background: #0060ac;
      font-size: 16px;
      margin: 0 0 -10px 0;
    }
  }
}

// Service Section CSS
.service_container {
  max-width: 1296px;
  width: 100%;
  margin-top: 130px;
  margin-bottom: 120px;

  .service_title {
    font-size: 40px;
    color: #0060ac;
    padding-bottom: 60px;
  }

  .service_card_section {
    .card {
      .service_img {
        width: 100px;
        height: 100px;
        margin: 5px auto;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .card-body {
        .card-title {
          font-size: 22px;
          color: #0060ac;
          line-height: 26px;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .card-text {
          font-size: 15px;
          line-height: 21px;
        }
      }
    }
  }

  .service_btn {
    margin-top: 67px;

    button {
      width: 260px;
      height: 60px;
      background: #ff8b00;
      outline: 0;
      border-radius: 28px;
      font-size: 18px;
    }
  }
}

// Functiona Section
.functiona_section {
  position: relative;

  .functiona {
    background-image: url(./../../assets/images/functoina/functionaBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 75px 15px 75px;
    overflow: hidden !important;
    margin-top: 50px;
    margin-bottom: 42px;
    height: 724px;

    .heading {
      font-weight: bold;
      font-size: 44px;
      line-height: 50px;
      text-align: center;
    }
    .sub_heading {
      max-width: 1040px;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      margin: auto;
    }
  }
  .bottom_image {
    text-align: center;
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    max-width: 615px;
    width: 100%;
    margin: 0 auto;
  }
}

// Testimonial Section Css
.testionial_section {
  margin-top: 140px;
  margin-bottom: 90px;
  max-width: 1240px;
  width: 100%;
  position: relative;

  .testimonial_title {
    font-size: 44px;
    padding-bottom: 70px;
    padding-top: 30px;
    color: #ff8b00;
  }

  .swiper-container {
    width: 100%;
    height: 70%;
  }

  .swiper-slide {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 424px;
    height: 333px;
    // box-shadow: #01393d (h: 186 deg, s: 99%, b: 24%)
    //   (opacity: 40%, x0y0 blur: 10px);

    .quote_icon {
      padding: 30px 40px 15px 30px;
      .fas.fa-quote-left {
        font-size: 50px;
        color: #d0e4ef;
      }
    }

    .client_review_txt {
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 40px;

      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        color: #373736;
      }
    }

    .card_footer {
      background: #e3f4ff;
      height: 110px;
      display: flex;
      align-items: center;
      padding-left: 15px;

      .client_img {
        width: 68px;
        height: 68px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .clinet_info {
        h6 {
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          color: #373736;
        }

        p {
          font-size: 16px;
          color: #018cde;
          font-weight: 600;
        }
      }
    }
  }

  .swiper-slide.swiper-slide-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgba(83, 79, 79, 0.767),
      transparent 25%
    );
    z-index: 1;
  }

  .swiper-slide.swiper-slide-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to left,
      rgba(83, 79, 79, 0.767),
      transparent 25%
    );
    z-index: 1;
  }

  .swiper-slide-active {
    margin: 0px 10px; /* Adjust margin to center the active slide */
    // padding: 30px 40px 30px 30px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    // background-color: #018cbe;
    color: #0060ac;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
  }

  .swiper-horizontal {
    .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      /* bottom: var(--swiper-pagination-bottom,8px); */
      /* top: var(--swiper-pagination-top,auto); */
      left: 0px;
      width: 100%;
      bottom: -16%;
    }
  }

  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background: #ff8b00;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .testimonial_btn {
    position: absolute;
    bottom: -35%;
    left: 41%;

    button {
      width: 260px;
      height: 60px;
      font-weight: 600;
      font-size: 18px;
      background: #ff8a00;
      color: #fff;
      border: 0;
      outline: 0;
      border-radius: 28px;
    }
  }
}

// Logistica Section Css
.logistica_section {
  padding-top: 160px;
  padding-bottom: 100px;

  .logistica_container {
    background: url(./../../assets/images/Api/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 75px 15px 75px;
    overflow: hidden !important;
    margin-bottom: 42px;
    height: 761px;
    width: 100vw;

    .logistica_title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 50px;
    }

    .logistica_content {
      display: flex;
      justify-content: center;
      align-self: center;
      gap: 20px;

      .left_side_logistic {
        width: 485px;

        img {
          width: 100%;
        }
      }

      .right_side_logistic {
        padding-top: 15px;

        .logistica_content_heading {
          font-size: 30px;
          line-height: 40px;
          width: 505px;
        }

        .logistica_text {
          font-size: 20px;
          line-height: 30px;
          padding: 30px 0;
        }

        ul {
          li {
            list-style: none;
            font-size: 16px;
            line-height: 32px;

            span {
              padding-right: 10px;
            }
          }
        }
      }
    }

    .logistica_btn_group {
      padding: 60px 0 45px;
      gap: 20px;

      .experto_btn {
        width: 260px;
        height: 60px;
        font-size: 18px;
        border: 1px solid #fff;
        border-radius: 28px;
        background: #ff8b00;
      }

      .ahora_btn {
        width: 260px;
        height: 60px;
        font-size: 18px;
        border: 1px solid #ff8b00;
        border-radius: 28px;
        color: #ff8b00;
      }
    }
  }
}

// Cont치ctanos section CSS
.cont치ctanos_section {
  margin-top: 130px;
  margin-bottom: 90px;

  .cont치ctanos_container {
    max-width: 1296px;
    width: 100%;

    .contact_content {
      // gap: 20px;

      .cont치ctanos_side {
        display: flex;
        justify-content: center;
        align-items: center;

        .left_contact_image {
          width: 100%;
          height: 554px;

          img {
            height: 100%;
          }
        }

        .contact_form_heading {
          font-size: 40px;
          color: #ff8b00;
          margin-bottom: 25px;
        }

        form {
          width: 400px;

          input {
            background: #ffefd7;
            width: 100%;
            height: 60px;
            border: 1px solid #ff8b00;
            border-radius: 10px;
          }

          .form-control:focus {
            box-shadow: none;
            outline: none;
          }

          input::placeholder {
            font-size: 16px;
            font-weight: 500;
          }

          textarea {
            background: #ffefd7;
            width: 100%;
            height: 220px;
            border: 1px solid #ff8b00;
            border-radius: 10px;
          }

          .enviar_btn {
            background-color: #ff8b00;
            width: 240px;
            height: 60px;
            border-radius: 28px;
          }
        }
      }

      .frecuentes_side_heading {
        font-size: 40px;
        color: #0060ac;
        margin-bottom: 25px;
      }

      .frecuentes_side {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 200px;

        .accordion {
          width: 400px;

          .accordion-item {
            border-color: #0060ac;

            .accordion-header {
              background: #018cbe;
              border-color: #0060ac;

              .accordion-button:focus {
                box-shadow: none;
              }

              .accordion-button {
                background-color: #018cbe !important;
                color: white;
                font-size: 15px;
              }

              .accordion-button:after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
              }
              .accordion-button:not(.collapsed):after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
              }

              .accordion-button:not(.collapsed) {
                background-color: #018cbe !important;
                color: white;
                font-size: 15px;
                font-weight: 700 !important;
              }
              .accordion-item {
                background-color: #018cbe !important;
              }

              .accordion-button:not(.collapsed) {
                background: #018cbe !important;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
              }
            }

            .accordion-collapse {
              .accordion-body {
                background: #018cbe;
                font-size: 14px;
                font-weight: 400;
                color: #fff;
                padding: 5px 25px;
                margin: 0;
                line-height: 24px;
              }
            }
          }
        }

        .right_contact_image {
          width: 100%;
          height: 554px;

          img {
            height: 100%;
          }
        }
      }
    }
  }
}
